ros-humble-ros-base,autocube-config,libgrpc++-dev,protobuf-compiler-grpc,libprotobuf-dev,avahi-daemon,avahi-utils,libnss-mdns,nlohmann-json3-dev
0.0.16
    feat add twist type.
0.0.15
    fix robot cmd.
0.0.14
    add json cmd.
0.0.13
    change ddt_msgs
0.0.12
    add json.
0.0.11
    add robot twist.
0.0.10
    add robot twist.
0.0.9
    use param.
0.0.8
    add cmd namespace.
0.0.7
    add battery namespace.
0.0.6
    add battery and heartbeat.
0.0.5
    add EXIT_FAILURE.
0.0.4
    change topic type to TwistStamped.
0.0.2
    add grpc native dns.
0.0.1
    init grpc client.
